version: "3"

services:
  frontend:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
      - node_modules:/workspace/node_modules
    command: sleep infinity
    ports:
      - "5173:5173" # Vite dev server
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  node_modules:
